.dropdown-menu ul li {
  color: #3d4554;
  cursor: pointer;
  font: 700;
  transition: all;
}

.dropdown-menu ul li:hover {
  color: black;
  font: 1000;
}

.notifications-active {
  animation: alert 2s linear 0s infinite alternate;
}

@keyframes alert {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(120%);
    color: red;
  }
}
