/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main styles */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Custom styles */
.navbar-links a.active {
  @apply bg-primary-color;
}

.navbar-links a:not(.active):hover {
  @apply bg-[#ffcd4d72];
}
